<.header>
  Edit Community <%= @community.id %>
  <:subtitle>Use this form to manage community records in your database.</:subtitle>
</.header>

<.community_form changeset={@changeset} action={~p"/communities/#{@community}"} />

<.back navigate={~p"/communities"}>Back to communities</.back>
