<.header>
  New Community
  <:subtitle>Use this form to manage community records in your database.</:subtitle>
</.header>

<.community_form changeset={@changeset} action={~p"/communities"} />

<.back navigate={~p"/communities"}>Back to communities</.back>
