<div class="h-full flex flex-col gap-4">
<.back navigate={~p"/communities"}>Back to communities</.back>

<.header>

   <%= @community.name %>/forem
  <:subtitle><%= @community.description %></:subtitle>
  <:actions>
  <%= if @current_user && RoleHelpers.is_admin(@current_user) do %>
    <.link href={~p"/communities/#{@community}/edit"}>
      <.button>Edit community</.button>
    </.link>
    <%= end %>
  </:actions>
</.header>




</div>
