<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Forem" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-auto w-screen overflow-y-scroll m-0 p-0">
        <%= live_render(@conn, ForemWeb.NavLive, id: "header", session: %{"current_user" => @current_user}) %>
    <main class="px-4 py-20 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </main>
    <dialog
    id="danger_dialog"
    class="backdrop:bg-slate-800/75 shadow-xl  bg-white p-6 border"
  >
    <form method="dialog" class="grid gap-6 place-items-center">
      <h1 class="text-2xl" data-ref="title">
        Are you sure?
      </h1>
      <div class="flex gap-4 items-center justify-end">
        <.button data-ref="cancel" type="submit" value="cancel">
          Cancel
        </.button>
        <.button data-ref="confirm" type="submit" value="confirm" class="bg-red-500">
          Confirm
        </.button>
      </div>
    </form>
  </dialog>
  </body>
</html>
